.message {
    display: flex;
    align-items: end;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    height: 100%;
}

.imageAndText {
    display: flex;
    align-items: end;
    height: 100%;
}

.imageAndText img {
    margin-bottom: 5px;
    order: 2;
    width: 48px;
    height: 48px;
    margin-left: 13px;
}

.text {
    height: auto;
    position: relative;
    display: inline-block;
    max-width: 527px;
    padding: 8px 13px;
    background-color:  #06c;
    color: white;
    border-radius: 10px;
}

.text::after {
    content: '';
    position: absolute;
    z-index: -9999999999;
    bottom: 0;
    right: -10px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid  #06c;
    filter: drop-shadow(0 1px 2px rgba(29, 33, 38, 0.1))
    drop-shadow(0 5px 20px rgba(29, 33, 38, 0.03));
}

.name {
    text-align: end;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.messageText {
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    white-space: normal;
}

.time {
    margin-right: 10px;
    font-weight: 600;
    font-size: 10px;
    color: #000;
}