.loader {
    animation: rotate 1s linear infinite;
    transform-origin: center;
}

.loader circle {
    stroke: #6c63ff;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-dasharray: 100;
    stroke-dashoffset: 75;
    fill: none;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
