.button {
    border-radius: 3px;
    padding: 5px 24px;
    width: 130px;
    height: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.42857;
    color: #fff;
}

.disabled {
    background-color:  #004d99;
    opacity: 0.5;
    color: #002e5c;
}

.secondary {
    border: 1px solid #06c;
    background-color: #fff;
    color: #06c;
}

.default {
    background-color: #06c;



}

.red {
    background-color: #cc1439;
}

.default:hover {
}

.red:hover {
    background-color: #ff1a47;
}

.secondary:hover {
    background-color: #e5f0fa;
}


.default:active {
    background-color: #0059b2;
}

.secondary:active {
    background-color: #c9e5ff;
}

.red:active {
    background-color: #b21232;
}

.button:disabled {
}
